.App {
  text-align: center;
  position: relative;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
/* .leaflet-routing-alt{
  background-color: white;
  display: none;
}  */
path{
  stroke: #00bdff;
}
.leaflet-routing-container {
  display: none;
}
.leaflet-marker-icon[src="car.png"]{
  z-index: 100;
}
.menubar{
  position: absolute;
  bottom: 20px;
  left: 35%;
  right: 35%;
  padding: 20px;
  background-color: #131c205b;
  border-radius: 36px;
  z-index: 1000;
}

.menubar button{
  padding: 8px 16px;
  border-radius: 8px;
  background-color: #00bdff;
  color: white;
  font-weight: bold;
  font-size: 16px;
  margin: auto 8px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
